.mobileButtons {
  display: none;
}

@media (max-width: 600px) {
  .mobileButtons {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    justify-content: space-around;
  }
}
.mobileButtons button {
  background: #004a96;
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  font-size: .9rem;
}
